
<section class="alert"  ng-show="stillLooking==true;" >
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="stillLooking=false; moreHider=true"></div>
	<p>
		Music seems to be in short supply where you are.  We are determined to find you your very own, geolocation-based playlist so please be patient.  Soon we will let you know about the Music Where You Are (See what we did there).
	</p>

	<div class="clear"></div>
</section>
			
			<div class="clear"></div>
		</section>
<section class="alert"  ng-show="errorMessage==true;" >
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="errorMessage=false; moreHider=true"></div>
	<p>
		Uh, Oh.  Something has gone wrong.  Try refreshing your browser. If you continue to experience this problem, tweet @robostheimer or send an email to Robert.Ostheimer@cityblinking.com.  

	</p>
	
	<div class="clear"></div>
</section>		
<section class="alert"  ng-show="noSongs==true;" >
		<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="noSongs=false; moreHider=true"></div>
	<p>
		Looks like there's NO Music Where You Are.  At Least not the type of Music You are Looking for.

	</p>
	<p>
		And as Nietsche said, "A world (or in this case a geolocation) without music is a mistake."
	</p>
	<p>
		To avoid an existential crisis, our advice at the MWYA Situation Room is to leave wherever you are as fast as you can.
	</p>
	
	<p>
		If you continue to get this error, check to make sure that Geolocation enabled on your device or use the form above to type in a new location (with both a city and state name or state abbreviation). Also clear out the genres you have picked in the settings.
	</p>
	<div class="clear"></div>
</section>
<section id="spot_holder" ng-swipe-left="goBack()" >

	<div class="closey"  aria-hidden="true" data-icon="x" ng-click="goBack()"></div>
	<h4><span style="color:#979797">Upcoming Concerts for</span> {{artist}}</h4><br>
		<div style="width:100px; margin:auto;font-family:'Arvo',Tahoma,Arial, sans-serif" ng-show="loading==true"><img src="loading.gif" alt="loading"/></div>
		<div class="clear"></div>
	
		<div ng-show="noEvents==true"><h3>There are no shows scheduled for {{artist}}.</h3></div>
		<div class="event_holder">
		
	<div ng-repeat="event in shows track by $index" class="gray card"ng-show="loading==false">
		<div class="event_image info"><img src="{{event.venue.image[1]['#text']}}"/></div>
			
				<div style="padding-left:10px;"><h6 class="event_description" ><a href="{{event.url}}" target="_blank">{{artist}} at {{event.venue.name}}</a> &nbsp;&nbsp;<a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{event.artists.headliner}}+at+{{event.venue.name}}&details=For+details,+link+here%3a+{{event.url}}&location={{event.venue.name}},+{{event.venue.location.street}}, {{event.venue.location.city}}&dates={{event.date}}&sf=true&output=xml#f" target="_blank"><span class="icon calendar" ></span></a></h6>
				<p class="event_description">
					<span ng-repeat = "band in event.artists.artist track by $index" ><a href="#/info/{{location_link}}/{{band.replace('The ', '')}}">{{band}}</a><br> </span><br>
					Date: {{event.startDate}}<br>
					Address:{{event.venue.location.street}}<br>
					City: {{event.venue.location.city}}, {{event.venue.location.country}}<br>
					Phone: {{event.venue.phonenumber}}<br>
					<span style="font-size: .5em" >Genres: {{event.tagsStr}}</span> <br>
					
					
					
				</p>
				</div>
				<div style="clear:both;"></div>

	</div>
	<br>

	<br>
	<br>
	</br>
	<!--<div class="sharer" >
		<button class="more_button" ng-hide="start_number<25" ng-click="moreSongs((start_number-25))" ng-enter="moreSongs((start_number-25))">
			<div class=button_txt>
				« Back
			</div>
		</button>
		<button class="more_button" ng-hide="songs.length<25" ng-click="moreSongs((start_number+25))" ng-enter="moreSongs((start_number+25))">
			<div class=button_txt>
				More Songs »
			</div>
		</button>

		<div class="share_box animate-show" ng-hide="shareBox==false">
			<div class="closey" style="margin-top:-20px;" aria-hidden="true" data-icon="x" ng-click="sharer=false; shareBox=false"></div>
			<div class="social_media">

				<div class="icon-facebook state_{{sm_btns[0].state}}" ng-click = "changeClass(sm_btns[0])"></div>
				<div class="icon-twitter state_{{sm_btns[1].state}}" ng-click = "changeClass(sm_btns[1])"></div>
				<div class="icon-googleplus state_{{sm_btns[2].state}}" ng-click = "changeClass(sm_btns[2])"></div>
			</div>
 			<form class="{{sm_btns[0].classy}}">
				<textarea rows="9" >Check out my playlist from Music Where You Are {{short_url}}, a geolocation-based music discovery app that gives you music recommendations based on where you are located.  It's Music Where You Are, Music Where You Are Going, and Music Where You Want To Be!</textarea>
			<a class="share_button" href="https://www.facebook.com/sharer/sharer.php?+s=100+&p[url]={{short_url}}&p[images][0]=http://cityblinking.com/MusicWhereYouAre/logo4_sm.png&p[title]=Music Where You Are&p[summary]=Check+out+my+playlist+from+Music+Where+You+Are+,+a+geolocation-based+music+discovery+app+that+gives+you+music+recommendations+based+on+where+you+are+located.++It's+Music+Where+You+Are,+Music+Where+You+Are+Going,+and+Music+Where+You+Want+To+Be" target="_blank" >
			<div class="button_txt">
				Share on Facebook »
			</div>
		</a>
			</form>
			<form class="{{sm_btns[1].classy}}">
				<textarea maxlength="160" rows="9" ng-model="message"> </textarea>
				
			<a class="share_button" href="https://twitter.com/intent/tweet?original_referer=http://cityblinking.com/MusicWhereYouAre&text={{message}}" target="_blank" ><div class="button_txt">
				Share on Twitter » 
			</div>
		</a><span style="font-family:'Arvo',Tahoma,Arial, sans-serif; font-size:13px; font-style:italic; margin-top:15px; margin-left:5px;"><sub ng-hide="message.length>140">{{message.length}}</sub><sub><span style="color:#C53526; font-style:bold; font-size:15px" ng-show="message.length>140">{{message.length}}</span></sub></span>
			</form>
			<form class="{{sm_btns[2].classy}}">
				<textarea rows="9">Check out my playlist from Music Where You Are {{short_url}}, a geolocation-based music discovery app that gives you music recommendations based on where you are located.  It's Music Where You Are, Music Where You Are Going, and Music Where You Want To Be!}</textarea>
				<a class="share_button" href="https://plus.google.com/share?url={{short_url}}" target="_blank">
			<div class="button_txt">
				Share on Google Plus »
			</div>
		</a>
			</form>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		
		<div class="sharer_icon" ng-show="sharer==false" >
			<span class='icon share' ng-click="getSongs();"></span>
		</div>-->

</section>
<!--ng-href="#/info/{{location.replace(', ','*')}}/{{song.artist_name}}-->