<section class="alert"  ng-show="stillLooking==true;" >
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="stillLooking=false; moreHider=true"></div>
	<p>
		Music seems to be in short supply where you are.  We are determined to find you your very own, geolocation-based playlist so please be patient.  Soon we will let you know about the Music Where You Are (See what we did there).
	</p>

	<div class="clear"></div>
</section>

			<div class="clear"></div>
		</section>
<section class="alert"  ng-show="errorMessage==true;" >
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="errorMessage=false; moreHider=true"></div>
	<p>
			Unforutnately the Echonest api has been deprecated as part of it's merging with Spotify.  Spotify's new endpoint does not make artist location publicly available which is crucial for this app to work.  Developers are currently working on a strategy to get things up and running.  If you used and liked the app in the past, please tweet @musicwhereyour and @spotify to let them know.  Thanks.  We'll see you again soon.

	</p>

	<div class="clear"></div>
</section>
<section class="alert"  ng-show="noSongs==true;" >
		<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="noSongs=false; moreHider=true"></div>
	<p>
		Looks like there's NO Music Where You Are.  At Least not the type of Music You are Looking for.

	</p>
	<p>
		And as Nietsche said, "A world (or in this case a geolocation) without music is a mistake."
	</p>
	<p>
		To avoid an existential crisis, our advice at the MWYA Situation Room is to leave wherever you are as fast as you can.
	</p>

	<p>
		If you continue to get this error, check to make sure that Geolocation enabled on your device or use the form above to type in a new location (with both a city and state name or state abbreviation). Also clear out the genres you have picked in the settings.  You can also try <a onclick="window.location.refres()">Refreshing your Browser.</a>
	</p>
	<div class="clear"></div>
</section>
<section class="alert"  ng-show="noGeo==true;" >
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="noGeo=false"></div>
	<p>
		For MusicWhereYouAre to work, we need to know where you are.  Please choose a City and State from the form above.
	</p>

	<div class="clear"></div>
</section>
<section id="info-area"  ng-swipe-up="goBack()" >
		<form>
					<input type="text"  name="song_form" id="artistsearch" placeholder="Search for an artist"  class="text"   ng-model="artist" ng-enter="lookUpArtist(artist)" />
					<div class="search"  aria-hidden="true" data-icon="e" ng-click="lookUpArtist(artist)"></div>

			</form>

<div class="loading" ng-hide="loading_artist==false"><img src="loading.gif" alt="loading"/></div>
	<div ng-show="noArtist==true">There are no information about <b> {{name}}</b></div>
	<div id="intro_image" ng-hide="noArtist==true"></div>
	<div id="artist_holder" ng-hide="noArtist==true">


		<div id='artist_info'>

			<div id='artist_loader' ng-hide='artistdata ==false'>

			<div id="boxes">

			<h4>{{artistinfo.name}}</h4>

			<div id="biobox" class="{{buttons.bio.classy}}" aria-labelledby="bio" aria-hidden='{{buttons.bio.state}}' style="display: flex" >
				<div class="container">
				<p ng-bind-html = "SkipValidation(artistinfo.bio)" >{{artistinfo.bio}}
				</p>
				<div class="clear"></div>
				<div id="relatedbox" aria-labelledby="related">
					<a href="{{related.href}}" ng-repeat="related in artistinfo.similar.artist">
						<dl class="sim_holder" id="{{artistinfo.similar.name}}" >
						<div class="images">
							<img  ng-src="{{related.img}}" width="126" alt="{{related.name}}"/>
							<div class="name">{{related.name}}</div>
						</div>

					</dl>
				</a>
				</div>
			</div>
			<div class="container">
			<p class="intro_ang"><br>
				<iframe ng-hide="spot_iframe_hider==true"class="spot clear" theme="light" view="coverart" ng-src="{{spotify.spot_url_str}}" frameborder="0" allowtransparency="true"  ></iframe>
				<br>
				<button class ="info_button clear" ng-controller="Spotify" ng-click="SavePlaylist(spotify.spot_url_button, artistinfo.name+' from MusicWhereYouAre');"><div aria-hidden="true" data-icon="c" class="button_icon"></div><div class="button_txt"> Save Playlist to Spotify</div></button>
			</p>


			</div>


			</div>

			</div>

		</div>
	</div>
	</div>
	<div class="close_div_info" aria-hidden="true" data-icon="P" style="font-size: 30px;" ng-click = "goBack()"></div>

</section>
