
<section class="alert"  ng-show="noSongs==true;" >
		<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="noSongs=false; moreHider=true"></div>
	<p>
		Looks like there's NO Music Where You Are.  At Least not the type of Music You are Looking for.

	</p>
	<p>
		And as Nietsche said, "A world (or in this case a geolocation) without music is a mistake."
	</p>
	<p>
		To avoid an existential crisis, our advice at the MWYA Situation Room is to leave wherever you are as fast as you can.
	</p>
	
	<p>
		If you continue to get this error, check to make sure that Geolocation enabled on your device or use the form above to type in a new location (with both a city and state name or state abbreviation). Also clear out the genres you have picked in the settings.
	</p>
	<div class="clear"></div>
</section>
<section class="alert"  ng-show="noGeo==true;" >
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="noGeo=false"></div>
	<p>
		For MusicWhereYouAre to work, we need to know where you are.  Please choose a City and State from the form above or enable geolocation on your device.
	</p>

	<div class="clear"></div>
</section>