<section class="alert"  ng-show="stillLooking==true;" >
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="stillLooking=false; moreHider=true"></div>
	<p>
		Music seems to be in short supply where you are.  We are determined to find you your very own, geolocation-based playlist so please be patient.  Soon we will let you know about the Music Where You Are (See what we did there).
	</p>

	<div class="clear"></div>
</section>

			<div class="clear"></div>
		</section>
<section class="alert"  ng-show="errorMessage==true;" >
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="errorMessage=false; moreHider=true"></div>
	<p>
		Unforutnately the Echonest api has been deprecated as part of it's merging with Spotify.  Spotify's new endpoint does not make artist location publicly available which is crucial for this app to work.  Developers are currently working on a strategy to get things up and running.  If you used and liked the app in the past, please tweet @musicwhereyour and @spotify to let them know.  Thanks.  We'll see you again soon.
	</p>

	<div class="clear"></div>
</section>
<section class="alert"  ng-show="noMoreSongs==true;" >
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="noMoreSongs=false; moreHider=true"></div>
	<p>
		Bummer! You've reached the end of {{location}}'s musical road - at least according to the database.  Try out another city! Or click the back button to scroll back through the playlists.

	</p>

	<div class="clear"></div>
</section>

<section class="alert"  ng-hide="noGeo==false;" ng-show="noGeo==true" >
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="noGeo=false"></div>
	<p>
		For MusicWhereYouAre to work, we need to know where you are.  Please choose a City and State from the form above, or enable geolocation on your device and press this <a ng-click="location.reload()">Refresh Link</a>.
	</p>

	<div class="clear"></div>
</section>
<section class="alert"  ng-show="noSongs==true;" >
		<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="noSongs=false; moreHider=true"></div>
	<p>
		Looks like there's NO Music Where You Are.  At Least not the type of Music You are Looking for.

	</p>
	<p>
		And as Nietsche said, "A world (or in this case a geolocation) without music is a mistake."
	</p>
	<p>
		To avoid an existential crisis, our advice at the MWYA Situation Room is to leave wherever you are as fast as you can.
	</p>

	<p>
		If you continue to get this error, check to make sure that Geolocation enabled on your device or use the form above to type in a new location (with both a city and state name or state abbreviation). Also clear out the genres you have picked in the settings.  You can also try <a onclick="window.location.refres()">Refreshing your Browser.</a>
	</p>
	<div class="clear"></div>
</section>

<section class="alert"  ng-show="tooMany==true">
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="tooMany=false"></div>
	<p>
		Unfortunately, there were too many songs in your playlist to create a Bit.ly link.  So that you can share at least part of your playlist on Twitter, we have removed songs from the bottom of your playlist. If you would like to share your complete playlist with your friends via email or even Facebook, you can copy the following link and paste it into an email or as a Facebook Status:
		<br>
		<br>
		<textarea  rows="9" style="width:97%" >http://musicwhereyour.com/{{long_url.replace('%23','#')}} </textarea>
	</p>
</section>

<section class="alert" ng-show="showCityMessage==true">
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="showCityMessage=false"></div>
	Oh Snap! We were unable to find any songs about your current location. We're still looking, but if you are getting impatient try adding search terms to the form above to see if that gets you any songs.  If that fails, maybe you should pen a song about this desolate (from a music standpoint) place.
</section>

<section class="alert" ng-show="userGenMessage==true">
	<div class="closey" style="margin-top:-10px;"  aria-hidden="true" data-icon="x" ng-click="userGenMessage=false"></div>
	Dag Nabit! It appears our database does not contain any songs about <em>{{searchterm}}</em>. Check your spelling or try again with another term.
</section>

<section class="alert" ng-show="infoMessage==true">

			Note: This product uses a SPOTIFY API but is not endorsed, certified or otherwise approved in any way by Spotify. Spotify is the registered trade mark of the Spotify Group.
			<br/>
			This product includes GeoLite2 data created by MaxMind, available from http://www.maxmind.com
			<br>
			<footer>
			<span class="footer_item">Powered By:</span> <a href="http://the.echonest.com/" target="_blank" class=""><img height ="15" width="15" src="genre_icons/echonest.svg" alt="echonest"/></a>
			<a href="http://commons.wikimedia.org/wiki/Main_Page" target="_blank"><img height ="15" width="15" src="genre_icons/wikimedia.png" alt="wikimedia"/></a>
			<a href="http://spotify.com" target="_blank"><img height ="15" width="15" src="genre_icons/spotify_green.svg" alt="spotify"/></a>
			<a href="http://www.openstreetmap.org/" target="_blank"><img height ="15" width="15" src="genre_icons/20121123222537!Public-images-osm_logo.svg" alt="open street map "/></a><a href="http://leafletjs.com/" target="_blank"><img height ="15" width="15" src="genre_icons/leaflet.jpeg" alt="open street map "/></a>
			<a href="http://www.bandsintown.com/api/overview" target="_blank"><img src ="genre_icons/bit.png" alt="bands in twon"/></a>
			</footer>
		</section>


<!--<CAN BE USED To download song data if ever necessary<section class="alert" download-button data="{{songs}}">
	<div class="datalink">

	</div>
	<div class="post" ng-controller="PostController">
		<a ng-click ="runPost(songs)" >Run Post</a>
	</div>
</section>-->
<!--
<section class="alert" >
<div class="post" ng-controller="PostController">
		<a ng-click ="runPost(songs)" >Run Post</a>
	</div>
</section>	-->
<section id="spot_holder" ng-swipe-left="goBack()"  >

	<div class="closey"  aria-hidden="true" data-icon="x" ng-click="goBack()"></div>

	<div class="clear"></div>
	<div class="fixed" >
		<div style="color:#c53526; font-size:10px;"><span class="icontarget" ></span>  {{location_for_dom}}</div>
		<button class="{{buttons[0].classy}}"  ng-click="runButtons('artists'); runApp(start_number, counter)" ng-swipe-left="goBack()">

			<div class="button_txt">
				&nbsp;Artists From  <sup>&nbsp;</sup>&nbsp;
			</div>
		</button>
		<button class="{{buttons[1].classy}}" ng-click="runButtons('songs'); runSongAboutSearch(number, 15, 'no')" ng-hide="stillLooking ==true">

			<div class="button_txt">
				&nbsp;Songs About <sup>&nbsp;</sup>&nbsp;
			</div>
		</button>

		<div class="clear" ></div>
		<div class="{{buttons[0].state}}" ng-hide="loading==true">
			<div id="iframe_holder" ng-hide="spot_iframe_hider==true" >
				<iframe id="spot_frame" theme="light" view="coverart" ng-src="{{songs.spot_strFinal}}" frameborder="0" allowtransparency="true" height="80" width="300"></iframe>
			</div>
			<button class ="spot_button" ng-controller="Spotify" ng-click="SavePlaylist(songs.savSpotArr, location);">
				<div aria-hidden="true" data-icon="c" class="button_icon"></div>
				<div class="button_txt">
					Save Playlist to Spotify
				</div>
			</button>
		</div>
		<div class="{{buttons[1].state}} abouttab"  ng-hide="loading_tags==true" >
			<div id="iframe_holder" ng-hide="spot_iframe_hider==true">
				<iframe id="spot_frame" theme="light" view="coverart" src="{{lookUpSongs.idStr}}" frameborder="0" allowtransparency="true" height="80" width="300"></iframe>
			</div>
			<button class ="spot_button" ng-controller="Spotify" ng-click="SavePlaylist(lookUpSongs.savSpotArr, location);" ng-hide="lookUpSongs.length==0">
				<div aria-hidden="true" data-icon="c" class="button_icon"></div>
				<div class="button_txt">
					Save Playlist to Spotify
				</div>
			</button>
			<form id="song_form" class="{{buttons[1].state}}"  ng-swipe-left="goBack()" >

				<input type="text"  name="song_form" id="findmoresongs" placeholder="Add to your playlist"  class="text"   ng-model="searchterm" ng-enter="runUserSearch(searchterm, 10,'yes', 'user', true)"/>
				<div class="search"  aria-hidden="true" data-icon="e" ng-click="runUserSearch(searchterm, 10,'yes','user',true)"  ></div>
				<div class="clear"></div>
			</form>

			<div class="closey" ng-show="tagShower==false" ng-click="toggleTagsBox()" aria-hidden="true" data-icon="~"></div>
			<div class="clear"></div>
		</div>
	</div>

	<div style="width:100px; margin-left:auto; margin-right:auto;" class="cards" ng-show="loading==true">
		<img src="loading.gif" alt="loading"/>
	</div>

	<div ng-hide="loading==true" ng-class="{iframehider: spot_iframe_hider == true}" class="{{buttons[0].state}} cards"  >

			<div id="locationsongs">
				<div ng-repeat="song in songs.spotify_info.data.tracks " class="gray card" id="song_spot{{song.id}}" ng-hide="song.closeButton==true" draggable = "true" event-delegate="a .favorite|switchFavorite(song.id, song.num_id, 'from')" type="click">
					<div class="close" id="close{{song.id}}" aria-hidden="true" data-icon="x" ng-click= "removeSong(song.id, 'from')"></div>
					<p class="info" id="pinfo{{song.num_id}}">
						{{song.name}}
						<br>
						<span class="artist">{{song.artists[0].name}}</span>
					</p>
					<a class="spotter" href="spotify:track:{{song.id}}" ><div class="spot_link_spot" id="spot{{song.tracks[0].foreign_id.split(':')[2]}}" style="margin-left:5px;font-size:27px;" aria-hidden="true" data-icon="c"></div></a>
					<a ><div  class="icon iconfavorite2 spot_link favorite favorite_on" ng-hide="song.favorite=='on'" ></div></a>
					<a ><div class="icon iconfavorite spot_link favorite favorite_on" ng-hide="song.favorite=='off'"></div></a>
					<a href="#/info/{{location_link}}/{{song.artists[0].name.replace('The ', '')}}"><div  style="font-size:25px" id="info{{num_id}}" class="spot_link information" aria-hidden="true" data-icon="*"></div></a>
					<a href="#/events/{{location_link}}/{{song.artists[0].name.replace('The ', '')}}" ><div  style="font-size:25px; margin-left:5px;" id="event{{num_id}}" class="spot_link information" aria-hidden="true" data-icon="1"></div></a>
					<div style="clear:both;margin-bottom:-15px;"></div>

				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>

			<div class="sharer" >

				<button class="more_button" ng-hide="btnCount==0" ng-click="backSongs()" ng-enter="backSongs)">
					<div class=button_txt>
						« Back
					</div>
				</button>
				<button class="more_button" ng-hide="moreHider==true" ng-click="moreSongs()" ng-enter="moreSongs()">
					<div class=button_txt>
						More Songs »
					</div>
				</button>

				<div class="share_box animate-show" ng-hide="shareBox==false">
					<div class="closey" style="margin-top:-20px;" aria-hidden="true" data-icon="x" ng-click="sharer=false; shareBox=false"></div>
					<div class="social_media">

						<div class="icon-facebook state_{{sm_btns[0].state}}" ng-click = "changeClass(sm_btns[0])"></div>
						<div class="icon-twitter state_{{sm_btns[1].state}}" ng-click = "changeClass(sm_btns[1])"></div>
						<div class="icon-googleplus state_{{sm_btns[2].state}}" ng-click = "changeClass(sm_btns[2])"></div>
					</div>
					<form class="{{sm_btns[0].classy}}">
						<textarea rows="9" >Check out my playlist from Music Where You Are {{short_url}}, a geolocation-based music discovery app that gives you music recommendations based on where you are located.  It's Music Where You Are, Music Where You Are Going, and Music Where You Want To Be!</textarea>
						<a class="share_button" href="https://www.facebook.com/sharer/sharer.php?+s=100+&p[url]={{short_url}}&p[images][0]=http://cityblinking.com/MusicWhereYouAre/logo4_sm.png&p[title]=Music Where You Are&p[summary]=Check+out+my+playlist+from+Music+Where+You+Are+,+a+geolocation-based+music+discovery+app+that+gives+you+music+recommendations+based+on+where+you+are+located.++It's+Music+Where+You+Are,+Music+Where+You+Are+Going,+and+Music+Where+You+Want+To+Be" target="_blank" >
						<div class="button_txt">
							Share on Facebook »
						</div> </a>
					</form>
					<form class="{{sm_btns[1].classy}}">
						<textarea maxlength="160" rows="9" ng-model="message"> </textarea>

 <a class="share_button" href="https://twitter.com/intent/tweet?original_referer=http://cityblinking.com/MusicWhereYouAre&text={{message}}" target="_blank" >
						<div class="button_txt">
							Share on Twitter »
						</div> </a><span style="font-family:'Arvo',Tahoma,Arial, sans-serif; font-size:13px; font-style:italic; margin-top:15px; margin-left:5px;"><sub ng-hide="message.length>140">{{message.length}}</sub><sub><span style="color:#C53526; font-style:bold; font-size:15px" ng-show="message.length>140">{{message.length}}</span></sub></span>
					</form>
					<form class="{{sm_btns[2].classy}}">
						<textarea rows="9">Check out my playlist from Music Where You Are {{short_url}}, a geolocation-based music discovery app that gives you music recommendations based on where you are located.  It's Music Where You Are, Music Where You Are Going, and Music Where You Want To Be!}</textarea>
						<a class="share_button" href="https://plus.google.com/share?url={{short_url}}" target="_blank">
						<div class="button_txt">
							Share on Google Plus »
						</div> </a>
					</form>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>

				<div class="sharer_icon" ng-show="sharer==false" >
					<span class='icon share' ng-click="getSongs(songs);"></span>
				</div>

			</div>


	</div>
	<div style="width:100px; margin-left:auto; margin-right:auto" class="about_section " ng-hide="loading_tags==false"><img src="loading.gif" alt="loading"/>
	</div>
	<div  ng-hide="aboutShower==false"  ng-class="{iframehider: spot_iframe_hider == true}" class="{{buttons[1].state}} about_section"  >
		<div class="aboutsongs">


			<div ng-repeat="song in lookUpSongs track by $index " class="gray card" id="song_spot{{song.id}}" ng-hide="song.closeButton==true" draggable = "true" event-delegate="a .favorite|switchFavorite(song.id, song.num_id, 'about')" type="click">
				<div class="close" id="close{{song.id}}" aria-hidden="true" data-icon="x" ng-click= "removeSong(song.id, 'about')"></div>
				<p class="info" id="pinfo{{song.i}}">
					{{song.name}}
					<br>
					<span class="artist">{{song.artists[0].name}}</span>
					<br>
					<sup >GeoKeyword: {{song.searchterm}}</sup>
				</p>

				<a class="spotter" href="spotify:track:{{song.id}}" ><div class="spot_link_spot" id="spot{{song.id}}" style="margin-left:5px;font-size:27px;" aria-hidden="true" data-icon="c" ></div></a>

				<a><div  class="icon iconfavorite2 spot_link favorite favorite_on" ng-hide="song.favorite=='on'" ></div></a>
				<a ><div class="icon iconfavorite spot_link favorite favorite_on" ng-hide="song.favorite=='off'"></div></a>
				<a href="#/info/{{location_link}}/{{song.artists[0].name.replace('The ', '')}}"><div  style="font-size:25px" id="info{{num_id}}" class="spot_link information" aria-hidden="true" data-icon="*"></div></a>
				<a href="#/events/{{location_link}}/{{song.artists[0].name.replace('The ', '')}}" ><div  style="font-size:25px; margin-left:5px;" id="event{{index}}" class="spot_link information" aria-hidden="true" data-icon="1"></div></a>
				<div style="clear:both;margin-bottom:-15px;"></div>

			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="sharer" >

			<button class="more_button" ng-hide="prevLookUp==false" ng-click="prevSongsAbout(15)" ng-enter="prevSongsAbout(15)">
				<div class=button_txt>
					« Back
				</div>
			</button>
			<button class="more_button" ng-hide="moreLookUp==false" ng-click="moreSongsAbout(15)" ng-enter="moreSongsAbout(15)">
				<div class=button_txt>
					More Songs »
				</div>
			</button>

			<div class="share_box animate-show" ng-hide="shareBox==false">
				<div class="closey" style="margin-top:-20px;" aria-hidden="true" data-icon="x" ng-click="sharer=false; shareBox=false"></div>
				<div class="social_media">

					<div class="icon-facebook state_{{sm_btns[0].state}}" ng-click = "changeClass(sm_btns[0])"></div>
					<div class="icon-twitter state_{{sm_btns[1].state}}" ng-click = "changeClass(sm_btns[1])"></div>
					<div class="icon-googleplus state_{{sm_btns[2].state}}" ng-click = "changeClass(sm_btns[2])"></div>
				</div>
				<form class="{{sm_btns[0].classy}}">
					<textarea rows="9" >Check out my playlist from Music Where You Are {{short_url}}, a geolocation-based music discovery app that gives you music recommendations based on where you are located.  It's Music Where You Are, Music Where You Are Going, and Music Where You Want To Be!</textarea>
					<a class="share_button" href="https://www.facebook.com/sharer/sharer.php?+s=100+&p[url]={{short_url}}&p[images][0]=http://cityblinking.com/MusicWhereYouAre/logo4_sm.png&p[title]=Music Where You Are&p[summary]=Check+out+my+playlist+from+Music+Where+You+Are+,+a+geolocation-based+music+discovery+app+that+gives+you+music+recommendations+based+on+where+you+are+located.++It's+Music+Where+You+Are,+Music+Where+You+Are+Going,+and+Music+Where+You+Want+To+Be" target="_blank" >
					<div class="button_txt">
						Share on Facebook »
					</div> </a>
				</form>
				<form class="{{sm_btns[1].classy}}">
					<textarea maxlength="160" rows="9" ng-model="message"> </textarea>

 <a class="share_button" href="https://twitter.com/intent/tweet?original_referer=http://cityblinking.com/MusicWhereYouAre&text={{message}}" target="_blank" >
					<div class="button_txt">
						Share on Twitter »
					</div> </a><span style="font-family:'Arvo',Tahoma,Arial, sans-serif; font-size:13px; font-style:italic; margin-top:15px; margin-left:5px;"><sub ng-hide="message.length>140">{{message.length}}</sub><sub><span style="color:#C53526; font-style:bold; font-size:15px" ng-show="message.length>140">{{message.length}}</span></sub></span>
				</form>
				<form class="{{sm_btns[2].classy}}">
					<textarea rows="9">Check out my playlist from Music Where You Are {{short_url}}, a geolocation-based music discovery app that gives you music recommendations based on where you are located.  It's Music Where You Are, Music Where You Are Going, and Music Where You Want To Be!}</textarea>
					<a class="share_button" href="https://plus.google.com/share?url={{short_url}}" target="_blank">
					<div class="button_txt">
						Share on Google Plus »
					</div> </a>
				</form>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

			<div class="sharer_icon" ng-show="sharer==false" >
				<span class='icon share' ng-click="getSongs(lookUpSongs);"></span>

		</div>
</section>
<!--ng-href="#/info/{{location.replace(', ','*')}}/{{song.artist_name}}-->
