<!doctype html>
<html lang="en" ng-app="MusicWhereYouAreApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1">
		<title>Music Where You Are Angular</title>
		<link href='http://fonts.googleapis.com/css?family=Indie+Flower|Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
		<link rel ="stylesheet" href="/MusicWhereYouAre/style.css">
		<link rel ="stylesheet" href="/MusicWhereYouAre/font.css">
		<script src="bower_components/jquery/dist/jquery.min.js"></script>	
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>
 		<script src="bower_components/ui-utils/ui-utils.min.js"></script>
 		<script src="http://maps.googleapis.com/maps/api/js?libraries=weather,visualization&sensor=false&language=en&v=3.13"></script>
		<script src="js/app.js"></script>
		<script src="js/services_w_returns.js"></script>
		<script src="js/controllers_w_returns.js"></script>
		<script src="js/directives.js"></script>	
		<script src="js/filters.js"></script>
		<script src="js/animation.js"></script>	
		<style>
		section#contact{position: absolute;top: 5px;right: 5px;margin: 0px;font-family: Arial, Helvetica, sans-serif;font-size: 11px;}
		section#contact ul li{list-style-type: none;display: inline;margin-right: 7px;}
		section#contact ul{margin: 0px;padding: 0px;margin-bottom: 5px;}
		</style>
	</head>
	<body >

	
		<section id="icon_holder" ng-controller="controlSymbol">
			<a ng-href="{{genre_class.href}}"><div class="open_div_spot"><span ng-model='genre_class.state'  class='{{genre_class.classy}}' ng-class="{iconequalizer12: genre_class.state=='off',iconarrowleft3: genre_class.state=='on'}"  ng-click="changeClass(genre_class.state, genre_class, 'iconequalizer12', 'genres', 'genres')"></span></div></a>
			
			<a ng-href="{{playlist_class.href}}"><div class="open_div_spot"><span ng-model='playlist_class.state'  class='{{playlist_class.classy}}' ng-class="{iconsong: playlist_class.state=='off',iconarrowleft3: playlist_class.state=='on'}"  ng-click="changeClass(playlist_class.state, playlist_class, 'iconsong', 'playlist', 'playlist')"></span></div></a>
			<a ng-href="{{favorite_class.href}}"><div class="open_div_fav"><span ng-model='favorite_class.state' class='{{favorite_class.classy}}' ng-class="{iconfavorite: favorite_class.state=='off',iconarrowleft3: favorite_class.state=='on'}" ng-click="changeClass(favorite_class.state, favorite_class, 'iconfavorite','favorites', 'favorites')"></span></div></a>
		</section>
		<section id="contact">
			<ul>
				<li>
					<a href="mailto:robert.ostheimer@cityblinking.com"><img border="none" src="/MusicWhereYouAre/genre_icons/mail.svg" alt="email"/></a>
				</li>
				<li>
					<a href="https://twitter.com/robostheimer" target="_blank"><img border="none" src="/MusicWhereYouAre/genre_icons/twitter.svg" alt="email"/></a>
				</li>
			</ul>
		</section>

		<header>

		</header>
		<section id="whereyouat" ng-controller="formController">
			<form novalidate class="simple-form" id="search" >
					<input type="text"  name="find music" id="findmusic" placeholder="City, ST or ST"  class="text"  ng-model="location" ng-enter="controlForm(location)">
			</form>
			<div class="search"  aria-hidden="true" data-icon="e" ng-click="controlForm(location)" ></div>
			

		</section>

		<div style="clear:both"></div>

		<!-- <ul id="chooser">

		<li class="musicwhereyouare active" id="music_where" ></li>
		<li class="geomix inactive" id="geomix" ></li>
		<li class="folowwme inactive" id="follow_me" ></li>
		-->
		</ul>
		
			<div ng-view view-animation ></div>
						
		<section id="geolocation_alert"><p>Choose a City and State from the form below or enable geolocation on your device.</p></section>
		<section id="map-area">
			<div mwya-map='mwya-map' id='map-canvas' style="display:block"><div style="width:100px; margin:auto"><img src="/MusicWhereYouAre/loading.gif" alt="loading"/></div></div>
			
		</section>
		
		<div style="clear:both"></div>

		<section class="attribute">
			Note: This product uses a SPOTIFY API but is not endorsed, certified or otherwise approved in any way by Spotify. Spotify is the registered trade mark of the Spotify Group.
			<br/>
			Powered By: <img src="/MusicWhereYouAre/genre_icons/echonest.svg" alt="echonest"/><img src="/MusicWhereYouAre/genre_icons/wikimedia.png" alt="wikimedia"/><img src="/MusicWhereYouAre/genre_icons/spotify_green.svg" alt="spotify"/>
		</section>
	</body>
</html>
