<!-- <div class="close" id="close{{song.id}}" aria-hidden="true" data-icon="x" ng-click= "removeSong(song.id, 'from')"></div> -->
<p class="info" id="pinfo{{song.num_id}}">
  {{song.name}}
  <br>
  <span class="artist">{{song.artists[0].name}}</span><br>
  <sup ng-show="showLocation === true">From: <a href="#/playlist/{{song.location_link}}">{{song.location}}</a></sup>
</p>
<a class="spotter" href="spotify:track:{{song.id}}" >
  <div class="spot_link_spot" id="spot{{songforeign_id.split(':')[2]}}" style="margin-left:5px;font-size:27px;" aria-hidden="true" data-icon="c"></div>
</a>
<a>
  <div class="icon iconfavorite2 spot_link favorite favorite_on" ng-hide="song.favorite=='on'" ></div>
</a>
<a>
  <div class="icon iconfavorite spot_link favorite favorite_on" ng-hide="song.favorite=='off'"></div>
</a>
<a href="#/info/{{location_link}}/{{song.artists[0].name.replace('The ', '')}}">
  <div  style="font-size:25px" id="info{{num_id}}" class="spot_link information" aria-hidden="true" data-icon="*"></div>
</a>
<a href="#/events/{{location_link}}/{{song.artists[0].name.replace('The ', '')}}" >
  <div  style="font-size:25px; margin-left:5px;" id="event{{num_id}}" class="spot_link information" aria-hidden="true" data-icon="1"></div>
</a>
<div style="clear:both;margin-bottom:-15px;"></div>
